tags
*.o
*.sub
*.guess
ltmain.sh
*.la
*.a
.deps
.dirstamp
.libs
*.lo
*.pb.h
*.pb.cc
*.rl.cc
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
configure
config.h.in~
install-sh
libtool
Makefile
Makefile.in
missing
stamp-h1
*.pc
depcomp
*.xcodeproj
